In [55]:
import pandas as pd
import yfinance as yf

In [56]:
start_date = "2000-01-01"
end_date = "2024-11-30"

In [57]:
def fetch_stock_data(ticker, start_date, end_date):
    data = yf.download(ticker, start=start_date, end=end_date)
    daily_returns = data['Adj Close'].pct_change()
    data['Daily_Returns'] = daily_returns
    return data

In [58]:
# s&p 500
sp500 = fetch_stock_data('^GSPC', start_date, end_date)
sp500.head()

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume,Daily_Returns
Ticker,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC,
Date,,,,,,,
2000-01-03,1455.219971,1455.219971,1478.000000,1438.359985,1469.250000,931800000,NaN
2000-01-04,1399.420044,1399.420044,1455.219971,1397.430054,1455.219971,1009000000,-0.038345
2000-01-05,1402.109985,1402.109985,1413.270020,1377.680054,1399.420044,1085500000,0.001922
2000-01-06,1403.449951,1403.449951,1411.900024,1392.099976,1402.109985,1092300000,0.000956
2000-01-07,1441.469971,1441.469971,1441.469971,1400.729980,1403.449951,1225200000,0.027090

In [59]:
print(len(sp500))

6268

In [60]:
cpi = pd.read_csv('cpi.csv')
consumer_sentiment = pd.read_csv('CSCICP03USM665S.csv')
dexuseu = pd.read_csv('DEXUSEU.csv')
effr = pd.read_csv('EFFR.csv')
gdp = pd.read_csv('GDP.csv')
unrate = pd.read_csv('UNRATE.csv')

cpi is monthly 
consumer sentiment is monthly
dexuseu is daily
s&p 500 is daily
effr is daily
usdx is daily
gdp is quarterly
unemployment is monthly
vix is daily

In [61]:
# from 2000
cpi = cpi[cpi['DATE'] >= '2000-01-01']
cpi.head()

           DATE  CPALTT01USM657N
539  2000-01-01         0.297089
540  2000-02-01         0.592417
541  2000-03-01         0.824499
542  2000-04-01         0.058411
543  2000-05-01         0.116754

In [62]:
print(len(cpi))

291

In [63]:
consumer_sentiment.head()

         DATE  CSCICP03USM665S
0  2000-01-01         102.7963
1  2000-02-01         102.8489
2  2000-03-01         102.7685
3  2000-04-01         102.7501
4  2000-05-01         102.7249

In [64]:
print(len(consumer_sentiment))

289

In [65]:
# download usdx
usdx = fetch_stock_data('DX-Y.NYB', start_date, end_date)
# just close of usdx
usdx = usdx['Close']
usdx.head()

[*********************100%***********************]  1 of 1 completed

Ticker        DX-Y.NYB
Date
2000-01-03  100.220001
2000-01-04  100.410004
2000-01-05  100.379997
2000-01-06  100.650002
2000-01-07  100.800003

In [66]:
print(len(usdx))

6296

In [67]:
dexuseu.head()

         DATE DEXUSEU
0  2000-01-03  1.0155
1  2000-01-04  1.0309
2  2000-01-05  1.0335
3  2000-01-06  1.0324
4  2000-01-07  1.0294

In [68]:
print(len(dexuseu))

6500

In [69]:
effr.head()

         DATE  EFFR
0  2000-07-03  7.03
1  2000-07-04     .
2  2000-07-05  6.52
3  2000-07-06  6.51
4  2000-07-07  6.42

In [70]:
print(len(effr))

6374

In [71]:
# from 2000-01-01
gdp = gdp[gdp['DATE'] >= '2000-01-01']
gdp.head()

           DATE        GDP
212  2000-01-01  10002.179
213  2000-04-01  10247.720
214  2000-07-01  10318.165
215  2000-10-01  10435.744
216  2001-01-01  10470.231

In [72]:
print(len(gdp))

99

In [73]:
# from 2000-01-01
unrate = unrate[unrate['DATE'] >= '2000-01-01']
unrate.head()

           DATE  UNRATE
624  2000-01-01     4.0
625  2000-02-01     4.1
626  2000-03-01     4.0
627  2000-04-01     3.8
628  2000-05-01     4.0

In [74]:
print(len(unrate))

299

In [75]:
vix = fetch_stock_data('^VIX', start_date, end_date)
vix.head()

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume,Daily_Returns
Ticker,^VIX,^VIX,^VIX,^VIX,^VIX,^VIX,
Date,,,,,,,
2000-01-03,24.209999,24.209999,26.150000,23.980000,24.360001,0,NaN
2000-01-04,27.010000,27.010000,27.180000,24.799999,24.940001,0,0.115655
2000-01-05,26.410000,26.410000,29.000000,25.850000,27.980000,0,-0.022214
2000-01-06,25.730000,25.730000,26.709999,24.700001,26.680000,0,-0.025748
2000-01-07,21.719999,21.719999,25.170000,21.719999,25.139999,0,-0.155849

In [76]:
print(len(vix))

6268

In [77]:
# making Date as index
cpi.set_index('DATE', inplace=True)
consumer_sentiment.set_index('DATE', inplace=True)
dexuseu.set_index('DATE', inplace=True)
effr.set_index('DATE', inplace=True)
gdp.set_index('DATE', inplace=True)
unrate.set_index('DATE', inplace=True)
sp500.set_index(sp500.index, inplace=True)
usdx.set_index(usdx.index, inplace=True)
vix.set_index(vix.index, inplace=True)

In [78]:
# parsing date
cpi.index = pd.to_datetime(cpi.index)
consumer_sentiment.index = pd.to_datetime(consumer_sentiment.index)
dexuseu.index = pd.to_datetime(dexuseu.index)
effr.index = pd.to_datetime(effr.index)
gdp.index = pd.to_datetime(gdp.index)
unrate.index = pd.to_datetime(unrate.index)
sp500.index = pd.to_datetime(sp500.index)
usdx.index = pd.to_datetime(usdx.index)
vix.index = pd.to_datetime(vix.index)

In [79]:
cpi_daily = cpi.resample('D').ffill()
consumer_sentiment_daily = consumer_sentiment.resample('D').ffill()
unrate_daily = unrate.resample('D').ffill()
gdp_daily = gdp.resample('D').ffill()

In [102]:
datasets = [sp500, vix, dexuseu, effr, usdx, cpi_daily, consumer_sentiment_daily, unrate_daily, gdp_daily]
final_dataset = pd.concat(datasets, axis=1)

In [103]:
final_dataset.head()

,"(Adj Close, ^GSPC)","(Close, ^GSPC)","(High, ^GSPC)","(Low, ^GSPC)","(Open, ^GSPC)","(Volume, ^GSPC)","(Daily_Returns, )","(Adj Close, ^VIX)","(Close, ^VIX)","(High, ^VIX)",...,"(Open, ^VIX)","(Volume, ^VIX)","(Daily_Returns, )",DEXUSEU,EFFR,DX-Y.NYB,CPALTT01USM657N,CSCICP03USM665S,UNRATE,GDP
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.297089,102.7963,4.0,10002.179
2000-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.297089,102.7963,4.0,10002.179
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.209999,24.209999,26.15,...,24.360001,0.0,NaN,1.0155,NaN,100.220001,0.297089,102.7963,4.0,10002.179
2000-01-04,1399.420044,1399.420044,1455.219971,1397.430054,1455.219971,1.009000e+09,-0.038345,27.010000,27.010000,27.18,...,24.940001,0.0,0.115655,1.0309,NaN,100.410004,0.297089,102.7963,4.0,10002.179
2000-01-05,1402.109985,1402.109985,1413.270020,1377.680054,1399.420044,1.085500e+09,0.001922,26.410000,26.410000,29.00,...,27.980000,0.0,-0.022214,1.0335,NaN,100.379997,0.297089,102.7963,4.0,10002.179

In [104]:
final_dataset.tail()

,"(Adj Close, ^GSPC)","(Close, ^GSPC)","(High, ^GSPC)","(Low, ^GSPC)","(Open, ^GSPC)","(Volume, ^GSPC)","(Daily_Returns, )","(Adj Close, ^VIX)","(Close, ^VIX)","(High, ^VIX)",...,"(Open, ^VIX)","(Volume, ^VIX)","(Daily_Returns, )",DEXUSEU,EFFR,DX-Y.NYB,CPALTT01USM657N,CSCICP03USM665S,UNRATE,GDP
2024-11-29,6032.379883,6032.379883,6044.169922,6003.97998,6003.97998,2.444420e+09,0.005608,13.51,13.51,14.15,...,14.0,0.0,-0.041844,1.0547,4.58,105.739998,NaN,NaN,NaN,NaN
2024-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.58,NaN,NaN,NaN,NaN,NaN
2024-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.58,NaN,NaN,NaN,NaN,NaN
2024-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.58,NaN,NaN,NaN,NaN,NaN
2024-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.58,NaN,NaN,NaN,NaN,NaN

In [105]:
columns = [
    ('Adj Close', '^GSPC'), ('Close', '^GSPC'), ('High', '^GSPC'),
    ('Low', '^GSPC'), ('Open', '^GSPC'), ('Volume', '^GSPC'),
    ('Daily_Returns', ''), ('Adj Close', '^VIX'), ('Close', '^VIX'),
    ('High', '^VIX'), ('Low', '^VIX'), ('Open', '^VIX'),
    ('Volume', '^VIX'), ('Daily_Returns', ''), 'DEXUSEU',
    'EFFR', 'DX-Y.NYB', 'CPALTT01USM657N', 'CSCICP03USM665S', 'UNRATE', 'GDP'
]

# Rename the columns to more meaningful names
renamed_columns = {
    ('Adj Close', '^GSPC'): 'S&P500_Adj_Close',
    ('Close', '^GSPC'): 'S&P500_Close',
    ('High', '^GSPC'): 'S&P500_High',
    ('Low', '^GSPC'): 'S&P500_Low',
    ('Open', '^GSPC'): 'S&P500_Open',
    ('Volume', '^GSPC'): 'S&P500_Volume',
    ('Daily_Returns', ''): 'S&P500_Daily_Returns',
    ('Adj Close', '^VIX'): 'VIX_Adj_Close',
    ('Close', '^VIX'): 'VIX_Close',
    ('High', '^VIX'): 'VIX_High',
    ('Low', '^VIX'): 'VIX_Low',
    ('Open', '^VIX'): 'VIX_Open',
    ('Volume', '^VIX'): 'VIX_Volume',
    ('Daily_Returns', ''): 'VIX_Daily_Returns',
    'DEXUSEU': 'USD_EUR_Exchange_Rate',
    'EFFR': 'Effective_Federal_Funds_Rate',
    'DX-Y.NYB': 'US_Dollar_Index',
    'CPALTT01USM657N': 'CPI_All_Items',
    'CSCICP03USM665S': 'Consumer_Sentiment_Index',
    'UNRATE': 'Unemployment_Rate',
    'GDP': 'GDP'
}

In [106]:
final_dataset.columns = [renamed_columns[col] if col in renamed_columns else col for col in final_dataset.columns]

In [107]:
final_dataset.columns

Index(['S&P500_Adj_Close', 'S&P500_Close', 'S&P500_High', 'S&P500_Low',
       'S&P500_Open', 'S&P500_Volume', 'VIX_Daily_Returns', 'VIX_Adj_Close',
       'VIX_Close', 'VIX_High', 'VIX_Low', 'VIX_Open', 'VIX_Volume',
       'VIX_Daily_Returns', 'USD_EUR_Exchange_Rate',
       'Effective_Federal_Funds_Rate', 'US_Dollar_Index', 'CPI_All_Items',
       'Consumer_Sentiment_Index', 'Unemployment_Rate', 'GDP'],
      dtype='object')

In [108]:
print(len(final_dataset))

9096

In [94]:
new = final_dataset.dropna()
print(len(new))

5909

In [95]:
new.head()

,S&P500_Adj_Close,S&P500_Close,S&P500_High,S&P500_Low,S&P500_Open,S&P500_Volume,VIX_Daily_Returns,VIX_Adj_Close,VIX_Close,VIX_High,...,VIX_Open,VIX_Volume,VIX_Daily_Returns,USD_EUR_Exchange_Rate,Effective_Federal_Funds_Rate,US_Dollar_Index,CPI_All_Items,Consumer_Sentiment_Index,Unemployment_Rate,GDP
2000-07-03,1469.540039,1469.540039,1469.579956,1450.849976,1454.599976,4.519000e+08,0.010271,19.830000,19.830000,20.510000,...,20.510000,0.0,0.014841,0.9526,7.03,107.059998,0.232019,102.5935,4.0,10318.165
2000-07-05,1446.229980,1446.229980,1469.540039,1442.449951,1469.540039,1.019300e+09,-0.015862,21.160000,21.160000,21.650000,...,20.629999,0.0,0.067070,0.9548,6.52,107.120003,0.232019,102.5935,4.0,10318.165
2000-07-06,1456.670044,1456.670044,1461.650024,1439.560059,1446.229980,9.473000e+08,0.007219,20.940001,20.940001,21.510000,...,20.770000,0.0,-0.010397,0.9527,6.51,107.370003,0.232019,102.5935,4.0,10318.165
2000-07-07,1478.900024,1478.900024,1484.119995,1456.670044,1456.670044,9.317000e+08,0.015261,19.219999,19.219999,20.250000,...,19.680000,0.0,-0.082140,0.9484,6.42,107.650002,0.232019,102.5935,4.0,10318.165
2000-07-10,1475.619995,1475.619995,1486.560059,1474.760010,1478.900024,8.387000e+08,-0.002218,20.330000,20.330000,20.629999,...,20.200001,0.0,0.057752,0.9521,6.51,107.010002,0.232019,102.5935,4.0,10318.165

In [96]:
new.tail()

,S&P500_Adj_Close,S&P500_Close,S&P500_High,S&P500_Low,S&P500_Open,S&P500_Volume,VIX_Daily_Returns,VIX_Adj_Close,VIX_Close,VIX_High,...,VIX_Open,VIX_Volume,VIX_Daily_Returns,USD_EUR_Exchange_Rate,Effective_Federal_Funds_Rate,US_Dollar_Index,CPI_All_Items,Consumer_Sentiment_Index,Unemployment_Rate,GDP
2023-12-22,4754.629883,4754.629883,4772.939941,4736.770020,4753.919922,3.046770e+09,0.001660,13.03,13.03,13.96,...,13.72,0.0,-0.045421,1.1008,5.33,101.699997,-0.099332,98.1097,3.7,28296.967
2023-12-26,4774.750000,4774.750000,4784.720215,4758.450195,4758.859863,2.513910e+09,0.004232,12.99,12.99,13.80,...,13.77,0.0,-0.003070,1.1035,5.33,101.470001,-0.099332,98.1097,3.7,28296.967
2023-12-27,4781.580078,4781.580078,4785.390137,4768.899902,4773.450195,2.748450e+09,0.001430,12.43,12.43,13.04,...,13.02,0.0,-0.043110,1.1114,5.33,100.989998,-0.099332,98.1097,3.7,28296.967
2023-12-28,4783.350098,4783.350098,4793.299805,4780.979980,4786.439941,2.698860e+09,0.000370,12.47,12.47,12.65,...,12.44,0.0,0.003218,1.1073,5.33,101.230003,-0.099332,98.1097,3.7,28296.967
2023-12-29,4769.830078,4769.830078,4788.430176,4751.990234,4782.879883,3.126060e+09,-0.002826,12.45,12.45,13.19,...,12.55,0.0,-0.001604,1.1062,5.33,101.330002,-0.099332,98.1097,3.7,28296.967

In [98]:
new.to_csv('final_dataset.csv')
print("Saved final_dataset.csv")

Saved final_dataset.csv

In [109]:
# removing rows with NaN values in any of the s&p 500 columns in the final dataset
print(len(final_dataset))
final_dataset = final_dataset.dropna(subset=['S&P500_Adj_Close', 'S&P500_Close', 'S&P500_High', 'S&P500_Low', 'S&P500_Open', 'S&P500_Volume'])
print(len(final_dataset))

9096
6267

In [110]:
# removing rows with NaN values in any of the vix columns in the final dataset
print(len(final_dataset))
final_dataset = final_dataset.dropna(subset=['VIX_Adj_Close', 'VIX_Close', 'VIX_High', 'VIX_Low', 'VIX_Open', 'VIX_Volume'])
print(len(final_dataset))

6267
6267

In [111]:
# removing rows with NaN values in any of the other columns in the final dataset
print(len(final_dataset))
final_dataset = final_dataset.dropna(subset=['USD_EUR_Exchange_Rate', 'Effective_Federal_Funds_Rate', 'US_Dollar_Index', 'CPI_All_Items', 'Consumer_Sentiment_Index', 'Unemployment_Rate', 'GDP'])
print(len(final_dataset))

6267
5909